<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>접근 거부 페이지</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body>
<header class="gnb">
    <button type="button" class="brand__logo-btn" aria-label="배달의민족 홈"
            th:onclick="|location.href='@{/mainpage}'|"></button>
</header>
<main class="page">
  접근 권한이 없습니다.
</main>
<script>
    window.addEventListener("load", () => {
        console.log("리소스 로드 완료");
    });
</script>
</body>
</html>