<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/region.css}">
  <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>

<header>
  <div class="logo">
      <a th:href="@{/api/restaurants}">
          <img th:src="@{/images/BaeMin_Logo.jpeg}" alt="배달의민족 로고">
      </a>
  </div>
  <form th:action="@{/logout}" method="post">
    <button type="submit" class="logout-btn">로그아웃</button>
  </form>
</header>

<div class="container">
<div th:replace="~{admin-sidebar :: sidebar}"></div>

<div class="main">
  <div class="search-bar">
    <input type="text" placeholder="상호명 입력" />
    <button>검색</button>
  </div>

  <div class="table">
    <table>
      <thead>
      <tr>
        <th>번호</th>
        <th>상호명</th>
        <th>대표 메뉴</th>
        <th>작성자</th>
        <th>지역</th>
        <th>등록일</th>
        <th>상태</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>OK Burger</td>
        <td>데리야끼 버거</td>
        <td>abc123</td>
        <td>서울시 영등포구</td>
        <td>2024.05.24</td>
        <td>비공개</td>
      </tr>
      <tr>
        <td>2</td>
        <td>OK Burger</td>
        <td>데리야끼 버거</td>
        <td>오르미@화이팅.com</td>
        <td>서울시 구로구</td>
        <td>2024.05.29</td>
        <td>공개</td>
      </tr>
      <tr>
        <td>3</td>
        <td>김기사식당</td>
        <td>제육볶음</td>
        <td>zxcvbe</td>
        <td>서울시 강서구</td>
        <td>2024.04.23</td>
        <td>공개</td>
      </tr>
      <tr>
        <td>4</td>
        <td>김기사식당</td>
        <td>순두부찌개</td>
        <td>zxcvbe</td>
        <td>서울시 강서구</td>
        <td>2024.04.22</td>
        <td>공개</td>
      </tr>
      </tbody>
    </table>
    <div class="pagination">
      <button class="prev">&lt;</button>
      <span>1 / 10</span>
      <button class="next">&gt;</button>
    </div>
  </div>
</div>
</div>
</body>
</html>