<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Chat</title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/css/chat.css" />
</head>
<body>
<header></header>
<main id="main-content" class="d-flex">
  <div id="chatting-list">
    <div id="nickname-area" class="p-2">
      <p class="nickname mb-0" th:text="${loginUser.getNickname()}">내 닉네임</p>
    </div>
    <div th:each="room : ${chatRooms}"  class="chatting-list-item d-flex align-items-center p-2">
      <input class="room-id" type="hidden" th:value="${room.id}" />
      <div>
        <p class="nickname mb-0" th:text="${room.user1.id == loginUser.id ? room.user2.nickname : room.user1.nickname}">상대 닉네임</p>
        <p class="last-comment mb-0" th:text="${room.lastChat}">마지막 대화 내용</p>
      </div>
      <img src="/images/default-profile.png" alt="상대방 프로필 사진" class="profile-img ms-auto" />
    </div>
  </div>
  
  <div id="chat-area" th:fragment="chatFragment">
    
    <!-- 정보 영역 -->
    <div id="info-area" class="ps-2">
      <div th:if="${selectedRoom != null}">
        <p class="nickname ps-2 pe-2 pt-2 mb-0 mt-2"
            th:text="${selectedRoom.user1.id == loginUser.id} ? ${selectedRoom.user2.nickname} : ${selectedRoom.user1.nickname}">
        </p>
        
        <div class="d-flex align-items-center p-2">
          <img src="/images/default-profile.png" alt="상대방 프로필 사진" class="profile-img" />
          <p id="restaurant-name" class="ms-auto me-2 mt-4 mb-0"
              th:text="${selectedRoom.user1.id == loginUser.id} ? ${selectedRoom.user2.storeName} + ' 사장님' : ${selectedRoom.user1.storeName} + ' 사장님'">
          </p>
        </div>
      </div>
      
      <div th:if="${selectedRoom == null}">
        <br>
        <p class="text-center text-muted m-2 p-2">대화 상대가 존재하지 않습니다.</p>
        <br>
      </div>
    </div>
    
    <!-- 채팅 내용 영역 -->
    <div id="chatting-content" class="p-3">
      <div th:if="${selectedRoom != null}">
        <div th:each="chat : ${selectedRoom.chats != null ? selectedRoom.chats : {}}"
            th:classappend="${chat.senderId == loginUser.id} ? ' d-flex justify-content-end mb-2' : ' d-flex justify-content-start mb-2'">
          <div th:utext="${chat.message != null ? chat.message : ''}"
              th:class="${chat.senderId == loginUser.id ? 'chatting-item2' : 'chatting-item1'}">
          </div>
          <p class="time ms-1 mt-auto mb-2"
              th:text="${chat.createdAt != null ? #temporals.format(chat.createdAt,'a h:mm') : ''}">
          </p>
        </div>
      </div>
      
      <div th:if="${selectedRoom == null}">
        <h3 class="text-center text-muted mt-5 p-5 mb-0">좌측 목록에서 채팅방을 선택해 주세요</h3>
      </div>
    </div>
    
    <!-- 입력 영역 -->
    <div id="chatting-input-area" class="m-3 p-2">
      <div class="input-group">
        <textarea id="message-input"
            th:data-room-id="${selectedRoom != null ? selectedRoom.id : ''}"
            th:data-sender-id="${loginUser != null ? loginUser.id : ''}"
            placeholder="메시지를 입력하세요."
            th:disabled="${selectedRoom == null}"></textarea>
      </div>
      <div class="d-flex">
        <button class="ms-auto me-2" id="send-btn" type="button"
            th:disabled="${selectedRoom == null}">
          전송
        </button>
      </div>
    </div>
  
  </div>

</main>
<footer></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<!-- SockJS -->
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<!-- STOMP over WebSocket -->
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>
