<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    CSRF 메타태그 추가-->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <title>식당 등록 작성 페이지</title>
    <link rel="icon" type="image/png" th:href="@{/images/BaeMin-main.jpg}">
    <link rel="stylesheet" th:href="@{/css/restaurant-form.css}">
</head>
<body>
<!-- 상단 메뉴 -->
<!--<header class="topbar">-->
<!--    <div class="topbar-left">-->
<!--        <img th:src="@{/images/BaeMin_Logo.jpeg}" class="logo" alt="로고">-->
<!--        <nav>-->
<!--            <a href="#">동네소개</a>-->
<!--            <a href="#">동네인증</a>-->
<!--        </nav>-->
<!--    </div>-->
<!--    <div class="topbar-right">-->
<!--        <input type="text" placeholder="찾는 메뉴가 뭐예요?">-->
<!--        <button>채팅하기</button>-->
<!--        <button>로그아웃</button>-->
<!--    </div>-->
<!--</header>-->

<!-- 상단 메뉴 -->
<div th:replace="~{topbar :: topbar}"></div>


<!--메인 컨테이너-->
<div class="form-container">
    <!--등록/수정 구분-->
    <form th:action="@{/api/restaurants/save}" method="post" class="restaurant-form" id="restaurantForm"
    th:attr="data-id=${restaurant != null} ? ${restaurant.id} : null">
        <!-- 이미지 업로드 -->
        <div class="form-group image-upload">
            <label for="imageInput">
                <div class="image-box">
                    <img th:src="@{/images/camera-icon.png}" alt="카메라 아이콘" class="camera-icon">
                </div>
            </label>
            <input type="file" id="imageInput" accept="image/*" hidden>
        </div>

        <!-- 대표 메뉴 -->
        <div class="form-group menu-info">
            <label for="menuName">대표 메뉴</label>
            <input type="text" id="menuName" name="mainMenu" placeholder="메뉴" th:value="${restaurant != null} ? ${restaurant.mainMenu} : '' ">
            <input type="text" id="menuPrice" name="price" placeholder="가격" th:value="${restaurant != null} ? ${restaurant.price} : '' ">
        </div>

        <!-- 대표 메뉴 설명 -->
        <div class="form-group">
            <label for="menuDesc">대표 메뉴 설명</label>
            <textarea id="menuDesc" name="description" placeholder="대표 메뉴에 대한 설명을 적어주세요."
                      th:text="${restaurant != null} ? ${restaurant.description} : '' "></textarea>
        </div>

        <!-- 가게 위치 -->
        <div class="form-group">
            <label for="location">가게 위치</label>
            <input type="text" id="location" name="address" placeholder="ex) 서울시 강서구 화곡동" th:value="${restaurant != null} ? ${restaurant.address} : '' ">
        </div>

        <!--게시글 id -->
        <input type="hidden" name="id" th:value="${restaurant != null} ? ${restaurant.id} : '' ">

        <!-- 완료 버튼 -->
        <div class="form-actions">
            <button type="submit" class="submit-btn">완료</button>
        </div>
    </form>
</div>

<script th:src="@{/js/restaurant.js}"></script>
</body>
</html>