<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body>
<nav class="sidebar" th:fragment="sidebar">
    <ul>
        <li>
            <a th:href="@{/admin/users}"
               th:classappend="${#currentPath.startsWith('/admin/users')} ? 'active'">
                유저
            </a>
        </li>
        <li>
            <a th:href="@{/admin/articles}"
               th:classappend="${#currentPath.startsWith('/admin/articles')} ? 'active'">
                게시물
            </a>
        </li>
        <li>
            <a th:href="@{/admin/statistics}"
               th:classappend="${#currentPath.startsWith('/admin/statistics')} ? 'active'">
                통계
            </a>
        </li>
    </ul>
</nav>
</body>
</html>