<header th:fragment="topbar" class="topbar">
  <div class="topbar-left">
    <img th:src="@{/images/BaeMin_Logo.jpeg}" class="logo">
    <nav>
      <a th:href="@{/api/restaurants}">동네소개</a>
      <a th:href="@{/api/regions}">동네인증</a>
    </nav>
  </div>
  <div class="topbar-right">
    <input type="text" placeholder="찾는 메뉴가 뭐예요?">
    <button>채팅하기</button>
    <form th:action="@{/logout}" method="post">
      <button type="submit" class="logout-btn">로그아웃</button>
    </form>
  </div>
</header>
