<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="topbar">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/topbar.css}">

</head>
<header class="topbar">
    <div class="topbar-left">
        <a th:href="@{/api/restaurants}">
            <img th:src="@{/images/BaeMin_Logo.jpeg}" class="logo" alt="배민 로고">
        </a>
        <nav>
            <a th:href="@{/api/restaurants}">동네소개</a>
            <a th:href="@{/api/regions}">동네인증</a>
        </nav>
    </div>
    <div class="topbar-right">

        <form th:action="@{/api/restaurants/search}" method="get" class="search-form">
            <input type="text" name="q" placeholder="찾는 메뉴가 뭐예요?" required>
        </form>
        <a href="/chat/reset">
            <button type="button">채팅하기</button>
        </a>
        <form th:action="@{/logout}" method="post">
            <button type="submit" >로그아웃</button>
        </form>
    </div>
</header>
<script th:src="@{/js/restaurant.js}"></script>
</html>