/* 상단 메뉴 */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
}

.topbar .logo {
    height: 50px;
}
.topbar nav {
    margin-left: 20px;
}

.topbar nav a {
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.topbar-left {
    display: flex;
    align-items: center;
}

.topbar-right {
    display: flex;
    align-items: center;
}

.topbar-right input {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    background-color: #dee2e6;
}

.topbar-right button {
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}